CONFIG_APP_REPRODUCIBLE_BUILD=y

CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=15

CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y
CONFIG_LOG_COLORS=y

CONFIG_SPI_INTERFACE=y
CONFIG_FLIP=y
CONFIG_MOSI_GPIO=18
CONFIG_SCLK_GPIO=19
CONFIG_CS_GPIO=16
CONFIG_DC_GPIO=17
CONFIG_RESET_GPIO=5
CONFIG_SPI3_HOST=y
